footer{
    p{
        color: #fff;
        font-family: $serif;
        font-size: 0.8rem;
    }
    h4{
        font-size: 16px;
        font-family: $sans-serif;
        text-transform: uppercase;
        color: #d99054;
    }
    h5{
        font-family: $sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
}

#colophon{
        margin-top: 7vh;
        background: url("../../images/dark-wood.png") repeat-x;
    }

.site-info{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 7vh 2em;
}

#footer-content-wrapper{
    display: flex;
}

#footer-logo{
    margin-left: auto;
    margin-top: 7vh;
    padding: 7vh;
    width: 25%;

}

#copyright{
    align-self: flex-end;
    padding-bottom: 1vh;
}
